<%- include("header") -%>
<h1>About Me</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum nisi sit assumenda atque consequatur, facilis odio molestias soluta commodi provident autem accusantium vero necessitatibus ab distinctio optio ullam pariatur?</p>
<%- include("footer") -%>
