<%- include("header") -%>
    <h1>Author</h1>

    <form method="POST">
        <div> <label>Name</label>
            <input type="text" name="name">
        </div>
        <div> <label>Posted</label>
            <input type="date" name="date">
        </div>
        
        <button type="submit">Submit</button>
    </form>
    <%- include("footer") -%>