<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <style>

    </style>
    <body>
<header>
    <div class="header">
<div><a href="/">Home</a></div>
<div><a href="/posts/<%= 1 %>">blog</a></div>
<div><a href="/about-us">about</a></div>
<div><a href="/contact-us">contact Us</a></div>
<div><a href="/add-author">Author</a></div>

    </div>
</header>

    </body>
</html>